@{
    Layout = null;
}
<!-- Single statement blocks, explicit.  -->
@{ var total = 7; }
@{ var myMessage = "Hello World"; }

<!-- Inline expressions, implicit. -->
<p>The value of your account is: @total </p>
<p>The value of myMessage is: @myMessage</p>

<!-- Multi-statement block, explicit.  -->
@* Razor comment.  *@
@{
    var greeting = "Welcome!";
    var weekDay = DateTime.Now.DayOfWeek;
    var leapYear = DateTime.IsLeapYear(DateTime.Now.Year);
    var greetingMessage = greeting + " Today is: " + weekDay
        + " -Leap year: " + leapYear;
}
<p>The greeting is :<br /> @greetingMessage</p>
@* End of greeting *@

<p>
    Last week: @DateTime.Now - TimeSpan.FromDays(7)
</p>

@*Add () to get correct time.*@
<p>
    Last week: @(DateTime.Now - TimeSpan.FromDays(7))
</p>
@*End of correct time*@

<a href="mailto:Support@contoso.com">Support@contoso.com</a>

<br /><br />

@("<div>Hello World</div>") 

<br /><br />

@Html.Raw("<div>Hello World</div>") 

<br /><br />

 <!-- Embedding a backslash in a string -->
@{ var myFilePath = @"C:\MyFolder\"; }
<p>The path is: @myFilePath</p>


<br /><br />

<!-- Embedding double quotation marks in a string -->
@{ var myQuote = @"The person said: ""Hello, today is Monday."""; }
<p>@myQuote</p>

  @{
      var inCSharp = true;
      <p>Now in HTML, was in C# @inCSharp</p>
  }

  @{
/* C# */<text>I'm HTML</text>/* C# */
  }

<br /><br />

  @{
/* Still C# */@: <p>Hello World</p> /* This is not C#, it's HTML */
  }


<br /><br />

@{ var @value = 77; }

 @if (value % 2 == 0)
 {
     <p>The value was even</p>
 }
 else if (value >= 1337)
 {
     <p>The value is large.</p>
 }
 else
 {
     <p>The value was not large and is odd.</p>
 }

<br /><br />

 @switch (value)
 {
     case 1:
         <p>The value is 1!</p>
         break;
     case 1337:
         <p>Your number is 1337!</p>
         break;
     default:
         <p>Your number was not 1 or 1337.</p>
         break;
 }
